{:paths ["src" "resources"]
 :aliases
 {:d1-1 {:exec-fn adventofcode23.d1/d1
         :exec-args {:input "d1-1.txt"
                     :d :d1-1}}
  :d1-2 {:exec-fn adventofcode23.d1/d1
         :exec-args {:input "d1-1.txt"
                     :d :d1-2}}}}
